<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css") 
    @Scripts.Render("~/bundles/modernizr")
 

</head>
<style>
    .jumbotron {
        background-image: url("https://www.planwallpaper.com/static/images/9Zk2kcY.jpg");
    }

    .head {
        font-size: 42px;
        color: white;
        text-shadow: 1px 1px black;
    }

    .lead {
        padding-left: 5%;
        color: white;
        text-shadow: 1px 1px black;
    }
   .boxArea {
        background-color: #f7f7f9;
        border: 1px solid lightgrey;
        border-radius: 5px;
        margin-top: 5%;
        text-align: center;
    }
  
</style>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Research 'R' Us", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Events", "Index", "Home")</li>
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Admin Panel", "AdminPanel", "Home")</li>
                    }
                    <li>@Html.ActionLink("Reports", "Reports", "Home")</li>
                    <li>@Html.ActionLink("Publications", "Publications", "Home")</li>
                    <li>@Html.ActionLink("Conference Calls", "ConferenceCalls", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <p class="head">Research 'R' Us</p>
        <p class="lead">We do stuff. </p>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Dominic Brett</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


</body>
</html>
