
@model IEnumerable<CourseworkApp.Models.Researcher>
<style>
    .researcher {
        background-color: lightgrey;
        border: 1px solid black;
        margin-top: 5%;
        text-align: center;
    }
</style>
@foreach (var item in Model)
{
    <div class="researcher">
        <h1>@Html.DisplayFor(modelItem => item.Name)</h1>
        <p>You can contact @Html.DisplayFor(modelItem => item.Name) via their email : @Html.DisplayFor(modelItem => item.EMail)></p>
        <p>Or call @Html.DisplayFor(modelItem => item.Name) on their work phone : @Html.DisplayFor(modelItem => item.WorkPhone)></p>
       

        return PartialView(results);
    </div>
}