@model CourseworkApp.Models.ConferenceCall

@{
    if (!Request.IsAuthenticated)
    {
        Response.Redirect("/Home/Index");
    }
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ConferenceCall</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ConferenceCallTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConferenceCallTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConferenceCallDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConferenceCallDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConferenceCallTranscript)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConferenceCallTranscript)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
